DATABASE_URL=
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://127.0.0.1:43147,http://localhost:43147
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:43147,http://localhost:43147
BEHIND_PROXY=false
NEON_AUTH_BASE_URL=
SNIPCART_API_KEY=
